networks:
  myapi:
    driver: bridge

volumes:
  pgdata:

services:
  postgres:
    image: mich43l/postgresql:opensips-3.4
    container_name: pg-opensips
    restart: unless-stopped
    environment:
      POSTGRES_DB: opensips
      POSTGRES_USER: opensips
      POSTGRES_PASSWORD: opensips
      POSTGRES_ALLOW_EXTERNAL: 1
      PG_ALLOWED_CIDRS: "127.0.0.1/32,::1/128,172.20.0.0/16,192.168.0.0/16"
    ports:
      - "2345:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U opensips -d opensips"]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - myapi

  api:
    image: mich43l/opensips-api:dialplan-0.3
    container_name: opensips-api-dialplan
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      POSTGRES_HOST: pg-opensips
      POSTGRES_USER: opensips
      POSTGRES_PASSWORD: opensips
      POSTGRES_DB: opensips
      POSTGRES_PORT: 5432
      DB_POOL_SIZE: 5
      DB_MAX_OVERFLOW: 10
    # volumes:
    #   - ./app:/app/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 3000 --reload
    networks:
      - myapi